<?xml version="1.0"?>

<launch>

  <!-- <include file="$(find vehicle_sim)/launch/vehicle_sim.launch" />

  <include file="$(find pid_controller)/launch/waypoint_loader.launch" /> -->

  <node pkg="pid_controller"  type="ebotController" name="ebotController" output = "screen">

         <rosparam file="$(find racecar_gazebo)/yaml/pid.yaml" command="load" />

  </node>


</launch>
