<?xml version="1.0"?>

<launch>

		<!-- 参数配置 -->    

    <param name="use_sim_time" value="false" />

		<!-- for amcl -->    
    <arg name="init_x" default="0" />
    <arg name="init_y" default="0" />
    <arg name="init_a" default="0.0" />

    <!-- 设置地图的配置文件 -->
    <arg name="map" default="map_table.yaml" />

    <!-- 参数配置 -->    


    <!-- 导航设置 -->

    <!-- 首先加载地图-->
    <!--<node name="map_server" pkg="map_server" type="map_server" args="$(find racecar_gazebo)/map/$(arg map)" /> -->

    <!-- 里程计 -->

    <!--rf2o_Laser_Odometry-->
    <!-- <include file="$(find ebot_bringup)/launch/rf2o_laser_odometry.launch"/> -->

    <!--wheel_encoder_odometry-->
    <!--<include file="$(find racecar_gazebo)/launch/bicycle_wheel_odometry.launch" /> -->

    <!-- 里程计 -->

    <!-- 多传感器融合定位 -->
    <!-- <include file="$(find ebot_bringup)/launch/robot_localization.launch" /> -->
		
		<!-- 地图匹配定位 -->
    <!-- 启动AMCL定位节点 -->
    <include file="$(find racecar_gazebo)/launch/amcl.launch">
		    <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_a" value="$(arg init_a)"/>
    </include>

</launch>
